<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bird nest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
  </head>
  <body>
    <main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">BirdNest</h1>
            <form action="/clusters/" method="GET">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder={{busqueda}} aria-label="Disabled input example" disabled>
                    <div class="input-group">
                        <span class="input-group-text">Contexto de busqueda</span>
                        <textarea class="form-control" name="contexto" aria-label="Contexto de busqueda"></textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Codo/Grafica</span>
                        <input class="form-control" name="codo" aria-label="Codo/Grafica">
                        <input  type="submit" name="analisis" class="btn btn-outline-secondary" id="button-addon2">
                    </div>
                    
                </div>
            </form>
        </div>
        </div>
    </section>

    </main>
  </body>
</html>