{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bird nest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
  </head>
  <body>
    <main>
      {% include "head/header.html" %}
    <section class="py-2 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <form action="/analisis/" method="GET">
                <div class="input-group mb-3">
                    <input type="text"  name="prd"  class="form-control" placeholder="¿Que deseas buscar?" aria-label="¿Que deseas buscar?" aria-describedby="button-addon2" required>
                    <input  type="submit" name="Buscar" class="btn btn-outline-secondary" id="button-addon2" value="buscar"/>
                </div>
            </form>
        </div>
        </div>
    </section>

    </main>
  </body>
</html>