<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bird nest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
  </head>
  <body>
    <main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">BirdNest</h1>  
                {% for linkswrdc in wordc_list %}
                    <form action="/resultados/" method="GET">
                            <img src={{linkswrdc}} alt={{linkswrdc}} width="500" height="500"/>
                            <label><h3>Cluster: {{forloop.counter0}}</h3></label>
                            <input style="display:none  !important;" class="form-control" type="text" name="conjunto" value="{{forloop.counter0}}" aria-label="{{forloop.counter0}}"/>
                            <input type="submit" name="result" class="btn btn-outline-secondary" id="button-addon2" />
                            <br>
                    </form>
                {% endfor %}                     
        </div>
        </div>
    </section>

    </main>
  </body>
</html>